{% extends 'index.html' %} 
{% block body%} 
{% load static %}
<style> 
    .text-justify {
      text-align: justify;
    } 
      .icon {
        width: 30px; /* Adjust the width as needed */
        height: 30px; /* Adjust the height as needed */     
    }

    .button-custom {
        background-color: #006ea8;
        border: 4px;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button-custom:hover {
        background-color: white;
        color: #006ea8;
        border: 1px solid #006ea8;
    }

    .card {
        margin-top: 40px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
    }

    .card-body {
        height: 280px
        padding: 20px;
    }

    .card-body h5 button {
        font-weight: bold;
        border-radius: 18px;
        width: 75%;
        height: 50%;
        color: white;
        background-color: #006ea8;
        border: none;
    }

    .card-body h5 button:hover {
        background-color: #0056b3;
    }

    .card-body .card-text {
        font-weight: bold;
    }

    .list-group-item {
        font-size: 14px;
    }

    .list-group-item i {
        font-size: 24px;
        color: #006ea8;
    }    
    
</style>

<body>
  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  </div>
  <!-- Spinner End -->

  <!-- Navbar & Carousel Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0">
          <!--<i class="fa fa-user-tie me-2"></i>-->
          <img
            class="w-100"
            src="{% static 'img\logo\png.png' %}"
            height="100px"
            width="200px"
            alt="Image"
          />
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="#" class="nav-item nav-link active">About</a>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Service</a
            >
            <div class="dropdown-menu m-0">
              {% for service in service %}
              <a href="{% url 'details' service.slug %}" class="dropdown-item">
                <img
                  src="{% static 'img\hm.png' %}"
                  alt="Certifications and Standards Icon"
                  class="icon"
                />
                {{service.category_name}}
              </a> 
              {% endfor %}
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Softwear & Solution</a
            >
            <div class="dropdown-menu m-0">             
              {% for softwear in softwear %}
              <a href="{% url 'details' softwear.slug %}" class="dropdown-item">
                <img
                  src="{% static 'img/Cloud.png' %}"
                  alt="Newsletter Subscription Icon"
                  class="icon"
                />
                {{softwear.category_name}}
              </a> 
               {% endfor %}
                            
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Package</a
            >
            <div class="dropdown-menu m-0">
              {% for package in package %}
              <a href="{% url 'details' package.slug %}" class="dropdown-item">
                <img
                  src="{% static 'img/Cloud.png' %}"
                  alt="Newsletter Subscription Icon"
                  class="icon"
                />
                {{package.category_name}}
              </a> 
               {% endfor %} 
             
            </div>
          </div>

          <a href="" class="nav-item nav-link">Portfolio</a>
          <a href="" class="nav-item nav-link"> Team</a>
          <a href="" class="nav-item nav-link">Blog</a>
          <a href="" class="nav-item nav-link">Contact</a>
        </div>
        <!--
				<butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
				-->
      </div>
    </nav> 

    <div
      id="header-carousel"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >     
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="{% static 'img/call.jpg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Creative & Innovative
              </h5>
              <h2 class="display-1 text-white mb-md-4 animated zoomIn">
               Call centers improve customer service
              </h2>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <!-- Navbar & Carousel End --> 

    <!-- Common Content Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-1">
      <div
        class="section-title text-center "
        style="max-width: 1600px"
      >
        <h5 class="fw-bold text-primary text-uppercase"> {{category.category_name}}</h5>
        <h5 class="text-justify">
        {{category.content}}
        </h5>
   </div>
    </div>
  </div>
  <!-- Common Content End -->

  <!-- Packeeg Start -->
    <br><br><br> 
  <div  style="background: url('{% static 'img/Background/background3.png.jpg' %}'); background-size: cover; background-position: center; ">
        <div class="container">
            <div class="row justify-content-center">
                {% for pkg in all_pakg %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-center">
                                <button type="button" class="btn btn">{{ pkg.functions }}</button>
                            </h5>
                            <hr>
                            <p class="card-text text-center" style="margin-top: -10px;">{{ pkg.amount }} / Month</p>
                            <hr style="margin-top: -10px;">
                            {% if pkg.calling_software %}
                            <li class="list-group-item"><i class="fa fa-caret-right"></i> {{ pkg.calling_software }}</li>
                            {% endif %}
                            {% if pkg.crm %}
                            <li class="list-group-item"><i class="fa fa-caret-right"></i> {{ pkg.crm }}</li>
                            {% endif %}
                            {% if pkg.ticket_software %}
                            <li class="list-group-item"><i class="fa fa-caret-right"></i> {{ pkg.ticket_software }}</li>
                            {% endif %}
                            {% if pkg.user_administration %}
                            <li class="list-group-item"><i class="fa fa-caret-right"></i> {{ pkg.user_administration }}</li>
                            {% endif %}
                            <hr>
                            <div class="text-center">
                                <button type="button" class="button-custom">
                                    <a href="" style="text-decoration: none; color: inherit;">Buy Now</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  <!-- Packeeg End -->
{% endblock %}
</body>